RewriteEngine On
RewriteCond %{HTTP_HOST} ^portfolio\.infihub\.com\.br$ [NC]
RewriteRule ^$ /portfolio/index.html [L]
RewriteCond %{HTTP_HOST} ^portfolio\.infihub\.com\.br$ [NC]
RewriteRule ^assets/(.*)$ /portfolio/assets/$1 [L]